<div class="panel panel-default">
    <h3 @onclick="ToggleCollapse">@( this.Collapse=="collapse" ? "+" : "-") @Instance.Name</h3>

    <div class="@Collapse">
    @foreach (var boss in Instance.Bosses)
    {
        <InstanceBossApprovalForm Boss="@boss" Instance="@Instance" Approvals="@Approvals" />
    }
    </div>
</div>