<div class="panel panel-default">
    <h4>@Instance.Name
        <button @onclick="ToggleCollapse">
            @( this.Collapse=="collapse" ? "+" : "-")
        </button>
    </h4>

    <div class="@Collapse">
    <table>
        <thead>
            <tr>
                <th>Boss:</th>
                @foreach (var character in Player.Characters)
                {
                    <th>@character.Name</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var boss in Instance.Bosses) 
            {
                <tr>
                    <td>@boss.Name</td>
                    @foreach(var character in Player.Characters)
                    {
                        @if(IsApproved(boss, character)) {
                            <td><input id="b@boss.Id c@character.Id" type="checkbox" @onchange="e=>{CheckboxClicked(boss, character, e.Value);}" checked /></td>
                        } else {
                            <td><input id="b@boss.Id c@character.Id" type="checkbox" @onchange="e=>{CheckboxClicked(boss, character, e.Value);}" /></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>