<div class="panel panel-default">
    <h3>@Player.Name
        <button @onclick="ToggleCollapse">
            @( this.Collapse=="collapse" ? "+" : "-")
        </button>
    </h3>

    <div class="@Collapse">
    @foreach (var instance in GetInstances())
    {
        <PlayerInstanceApprovalForm Player="@Player" Instance="@instance" Approvals="@Approvals" />
    }
    </div>
</div>