<div class="panel panel-default">
    <EditForm OnValidSubmit="@HandleValidSubmit" Model="@Player">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText id="name" @bind-Value="Player.Name" />

        <button type="submit">Submit</button>
        <button @onclick="ToggleCollapse">
            @( this.Collapse=="collapse" ? "+" : "-")
        </button>
    </EditForm>

    <div class="panel panel-default border @Collapse">
        <div class="panel-heading alert-primary">
            <h3 class="panel-title">Characters</h3>
        </div>
        @if(Player != null) {
            @foreach (var character in Player.Characters)
            {
                <CharacterForm Player="@Player" Character="@character" />
            }
        }

        <h4>New character</h4>
        <CharacterForm Player="@Player" Character="@newCharacter" />
    </div>

    
</div>