<div class="panel panel-default border">
    <div class="panel-heading alert-primary"><h3 @onclick="ToggleCollapse">@( this.Collapse=="collapse" ? "+" : "-") @Player.Name</h3></div>

    <div class="@Collapse">
    @foreach (var instance in GetInstances())
    {
        <PlayerInstanceApprovalForm Player="@Player" Instance="@instance" Approvals="@Approvals" />
    }
    </div>
</div>