<div class="panel panel-default">
    <h3 @onclick="ToggleCollapse">@( this.Collapse=="collapse" ? "+" : "-") @Player.Name</h3>

    <div class="@Collapse">
    @foreach (var instance in GetInstances())
    {
        <PlayerInstanceApprovalForm Player="@Player" Instance="@instance" Approvals="@Approvals" />
    }
    </div>
</div>