@page "/approval"
<div>
    <h2 @onclick="TogglePlayers" class="panel-heading alert-primary">@( this.CollapsedPlayers=="collapse" ? "+" : "-") Players:</h2>
    <div class="panel panel-default border @CollapsedPlayers" style="padding-left: 10px">
    @if(approvals != null) {
        @foreach(var player in players) {
            <PlayerApprovalForm Player="@player" Approvals="@this" />
        }
    }
    </div>
</div>
<div>
    <h2 @onclick="ToggleInstances" class="panel-heading alert-primary">@( this.CollapsedInstances=="collapse" ? "+" : "-") Instances:</h2>
    <div  class="panel panel-default border @CollapsedInstances" style="padding-left: 10px">
    @if(approvals != null) {
        @foreach(var instance in instances) {
            <InstanceApprovalForm Instance="@instance" Approvals="@this" />
        }
    }
    </div>
</div>